<h2>CREATE ROOM</h2>

<!-- <button (click)="createRoom()">Create Room</button> -->



<form #joinForm="ngForm" (ngSubmit)='createRoom(joinForm)'>


    <label>name</label>
    <div *ngIf="userName == undefined; else userBlock">
    <input type="text" required ngModel  name="User" maxlength="10">
    </div>
    <ng-template #userBlock>
        <span>{{this.userName}}</span>
    </ng-template>
    <label>Starting Life</label>
    <input type="number"   ngModel placeholder="40" value="40" #FirstName="ngModel" name="Life" autocomplete="off">
    <label>Commander</label>
    <input type="text"  id="commanderSearch"><span class="fakeButton" (click)="searchCommander()">Search</span>

           
  
 <div *ngFor="let item of commanders; let i = index" class="cmdr">
    <label for="{{item.name}}"><div *ngIf='item.image_uris != undefined; else twoface'><img src={{item.image_uris.small}} alt=""></div>
        <ng-template #twoface><img src={{item.card_faces[0].image_uris.small}} alt=""></ng-template>
        
        {{item.name}}</label>
<input required ngModel type="radio" id="{{item.name}}"  name="Commander" value="{{i}}">
</div>

    <label>Partner Commander: (optional)</label>
    <input type="text"  id="partnercommanderSearch"><span class="fakeButton" (click)="searchPartners()">Search</span>

<div *ngFor="let item of partners; let i = index" class="cmdr">
    <label for="{{item.name}}"><div *ngIf='item.image_uris != undefined; else twoface'><img src={{item.image_uris.small}} alt=""></div>
        <ng-template #twoface><img src={{item.card_faces[0].image_uris.small}} alt=""></ng-template>
        
        {{item.name}}</label>
<input ngModel type="radio" id="{{item.name}}"  name="Partner" value="{{i}}">
</div>

    <button>Submit</button>

   
</form>