.cmdrDmg{
    position: absolute;
    background-color: black;
    /* height: 160px; */
    top: 0px;
    width: 105%;
    left: -8px;
    display: grid;
    grid-template-columns: auto auto;
    
    z-index: 2;
    color: white;
    justify-items: center;
    padding-bottom: 20px;
}
.cmdrDmg div{
    height: 100px;
}

.hidden{
    display: none !important;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.player{
    display: flex;
    align-items: center;
    position: relative;
    height:130px;
    left: -7px;
}
.idBadge{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 28px;
    padding-top: 70px;
    padding-bottom: 5px;
    align-items: center;
}
.buttons{ 
       display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 100px;
}

.buttons div{
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    margin: 10px;
}

.pregame{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    justify-content: flex-start;
    height: 90vh;
    align-items: center;
    left: 0;
    z-index: 3;
    background-color: black;
    padding-top: 20px;
    color: white;
}



.turnOrder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin-bottom: 40px;
    color: white;
}

.you{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.playerImage{
    clip-path: circle(32px at 50px 48px);
    width: 100px;
    position: absolute;
    top: -12px;
}

.turnOrder div{
   
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 80vw;
    
}

.turnOrder img{
    -webkit-clip-path: circle(32px at 50px 48px);
    clip-path: circle(32px at 50px 48px);
    width: 100px;
    position: absolute;
    top: -12px;
}

.you{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 100vw;
    padding-top: 40px;
    position: absolute;
    bottom: 49px;
    left: 0;
}

.youImg{
    height: auto;
    width: 119%;
    position: absolute;
    -webkit-clip-path: inset(12% 7% 45% 8%);
    clip-path: inset(12% 7% 45% 8%);
    top: -28%;
    right: 50%;
    transform: translate(50%);
    z-index: -1;
}

.youInfo{
   
    background-color: rgba(255, 255, 255, 0.534);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    justify-content: space-around;
    width: 80vw;


}

.cmdrDmgDelt img{
    height: auto;
    width: 100px;
    clip-path: circle(31px at 50px 47px);
    position: absolute;
    top: 10px;
    left: 0px;
}

.cmdrDmgDelt{
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
}
.allCDmg{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    background-color: black;
    color: white;
}

.cmdrDmg img{
    clip-path: circle(21px at 35px 33px);
    width: 70px;
    position: absolute;
    top: 25px;
    left: 45px;
}

.commander{
    position: relative;
}
.poison{
    position: relative;
}
.poison{
    position: relative;
}
.poison img{
    left: 35px;
}
.footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    width: 100vw;
    position: absolute;
    bottom: 9px;
    left: 0;
    height: 50px;
    align-items: center;
    z-index: 4;
}

.triggers{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flexcolumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
}

#extraOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 20px;
    justify-content: space-around;
    z-index: 5;
    padding: 0px;
    padding-top: 20px;
}

#extraOptions table, th, td{
    border-collapse: collapse;
    border: 1px solid white;
    margin-top: 20px;
}

#extraOptions form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#damageCalc{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    z-index: 3;
    position: fixed;
    color: white;
    width: 100vw;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-evenly;
}

.calcButtons{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#playerGrid{
display: grid;
grid-template-columns: auto auto auto;
}

.allOpps{
    display: flex;
    display: flex;
    flex-direction: column;
    /* height: 155vw; */
}

button{
    color: #92ff1b;
    background-color: black;
    border: 3px solid #92ff1b;
   
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: auto;
    min-width: 76px;
}
.buttons span{
    margin: 15px;
}

.buttons button{
    height: 50px;
}

button:active{
    transform: translateY(4px);
}

.pregame .idBadge{
    min-width: 100px;
    padding: auto;
}

.pregame button{
    padding: 25px;
}

.cmdr{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45vw;
    text-align: center;
}

.cmdrGrid form{
    display: grid;
    grid-template-columns: auto auto;
}

#damageCalc button{
    padding: 15px;
    margin-bottom: 9px;
}

.calcHead{
    display: flex;
flex-direction: column;
align-items: center;
}

.calc{
    display: flex;
    flex-direction: column;
}

.submitCalc{
    margin-top: 20px;
}