
<a routerLink="/home">back</a>
<span class="room">ROOM: {{this.roomNum}}</span>

    <div *ngFor="let player of players; let i = index">
        <div  *ngIf="i !== this.you" class="player">
            <img src={{this.players[i].commanderImg}} alt="" class="playerImage">
    <span>{{this.players[i].Name}}</span>
    <!-- <span>{{this.players[i].Life}}</span> -->
    <div class="buttons">
        <div>
    <button (click)="addLife(i)">Add</button>
    <span>{{this.players[i].Life}}</span>
    <button (click)="subtractLife(i)">sub</button>
</div>
<div>
    <button (click)="addPoison(i)">Add</button>
    <span>{{this.players[i].Poison}}</span>
    <button (click)="subtractPoison(i)">sub</button>
</div>

    <div *ngIf="this.cmdrDmg.length !== 0">
        
    <button (click)="addCmdrDmg(i)">Add</button>
    <span>{{this.cmdrDmg[i][this.you]}}</span>
    <button (click)="subCmdrDmg(i)">sub</button>
    </div>
    </div>
  

        <!-- <div class="cmdrDmg">
    <div *ngFor="let dmg of cmdrDmg[i]; let j = index">
         <img src={{this.players[j].commanderImg}} alt="" (click)="changeSource(j)"> <span>{{dmg}}</span>
    </div>
    <div class="CDButtons">
    <button (click)="addCmdrDmg(i)">add</button>
    <button (click)="subCmdrDmg(i)">sub </button>
    </div>
    </div> -->
</div>
</div>

<div *ngIf="this.you == 0">
<!-- <button (click)="addPlayer()">add player</button> -->
<button (click)="startGame()">start game</button>
</div>

<div class="you">
    <img src={{this.players[this.you].commanderImg}} alt="" class="youImg">
     <span>{{this.players[this.you].Name}}(you)</span>
    <span>Life: {{this.players[this.you].Life}}</span>
    <div class="buttons">
        <button (click)="addLife(this.you)">Add</button>
        <button (click)="subtractLife(this.you)">sub</button>
        </div>
        
        <div class="allCDmg">
        <div *ngFor="let dmg of cmdrDmg[this.you]; let i = index" class="cmdrDmgDelt">
            <img src={{this.players[i].commanderImg}} alt=""> <span>{{dmg}}</span>
        </div>
        </div>
   
</div>
