/* .room{
    top: 12px;
    right: 12px;
    position: absolute;
}

.player{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 118px;
}
.playerImage{
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    clip-path: circle(32px at 50px 48px);
    position: absolute;
}


.buttons{
    display: flex;
    position: absolute;
    
    top: 23%;
    right: 50%;
    transform: translate(50%, 70%);
}

.hidden{
    display: none;
}

.you{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 250px;
}

.you .buttons{
    top:20%
}

.youImg{
    height: auto;
    width: 115%;
    position: absolute;
    clip-path: inset(12% 7% 45% 8%);
    top: -27%;
    right: 50%;
    transform: translate(50%);
    z-index: -1;
}

.cmdrDmg{
    display: grid;
    display: flex;
}

.cmdrDmg div:nth-child(4){
    margin-left: 20px;
}

.cmdrDmg img{
    width: 50px;
    height: auto;
    
    clip-path: circle(16px at 25px 24px);
    position: relative;
    top: 30px;
}
.cmdrDmg div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
    position: relative;
    top: -35px;
    width: 50px;
}

.allCDmg{
    display: flex;
    position: absolute;
    bottom: 0px;
    background-color: black;
    width: 100%;
    color: white;
    height: 90px;
    left:-8pxs
}

.cmdrDmgDelt{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -44px;
}
.cmdrDmgDelt img{
    height: auto;
    width: 80px;
    clip-path: circle(25px at 40px 36px);
    position: relative;
    top: 40px;
} */
.cmdrDmg{
    position: absolute;
    background-color: black;
    height: 160px;
    top: 0px;
    width: 105%;
    left: -8px;
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    z-index: 2;
    color: white;
    justify-items: center;
}

.hidden{
    display: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.player{
    display: flex;
    align-items: center;
    position: relative;
}
.idBadge{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 28px;
    padding-top: 70px;
    /* padding-right: 100px; */
    padding-bottom: 5px;
    align-items: center;
}
.buttons{ 
       display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.buttons div{
    display: flex;
    flex-direction: column;
}

.pregame{
    display: flex;
    flex-direction: column;
}

.turnOrder{
    display: flex;
    justify-content: space-evenly;
}

.you{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerImage{
    clip-path: circle(32px at 50px 48px);
    width: 100px;
    position: absolute;
    top: -12px;
}

.turnOrder div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 120px;
    justify-content: space-between;
    margin: 8px;
    
}

.turnOrder img{
    -webkit-clip-path: circle(32px at 50px 48px);
    clip-path: circle(32px at 50px 48px);
    width: 100px;
    position: absolute;
    top: 12px;
}

.you{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
    height: 58vw;
    width: 100vw;
    padding-top: 40px;
    position: absolute;
    bottom: 50px;
    left: 0;
}

.youImg{
    height: auto;
    width: 119%;
    position: absolute;
    -webkit-clip-path: inset(12% 7% 45% 8%);
    clip-path: inset(12% 7% 45% 8%);
    top: -28%;
    right: 50%;
    transform: translate(50%);
    z-index: -1;
}

.youInfo{
   
    background-color: rgba(255, 255, 255, 0.534);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
    justify-content: space-around;
    width: 150px;


}

.cmdrDmgDelt img{
    height: auto;
    width: 100px;
    clip-path: circle(31px at 50px 47px);
    position: absolute;
    top: 10px;
    left: 0px;
}

.cmdrDmgDelt{
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
}
.allCDmg{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    background-color: black;
    color: white;
}

.cmdrDmg img{
    clip-path: circle(21px at 35px 33px);
    width: 70px;
    position: absolute;
    top: 10px;
    left: 6px;
}

.commander{
    position: relative;
}
.poison{
    position: relative;
}
.poison{
    position: relative;
}
.poison img{
    left: 35px;
}
.footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    width: 100vw;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 50px;
    align-items: center;
}

.triggers{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flexcolumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
}