<div class="header">
<a routerLink="/home">back</a>
<span>Turn: {{this.turnNumber}}</span>
<span class="room">ROOM: {{this.roomNum}}</span>
</div>
    <div *ngFor="let player of players; let i = index">
        <div  *ngIf="i !== this.you" class="player">
            <div class="idBadge">
            <img src={{this.players[i].commanderImg}} alt="" class="playerImage">
    <span>{{this.players[i].Name}}</span>
    </div>
    <!-- <span>{{this.players[i].Life}}</span> -->
    <div class="buttons" *ngIf="this.cmdrDmg.length !== 0; else orderBlock">
        <div>
    <button (click)="addLife(i)">Add</button>
    <span>{{this.players[i].Life}}</span>
    <button (click)="subtractLife(i)">sub</button>
</div>
    <!-- <div *ngIf="this.cmdrDmg.length !== 0"> -->
        <div>
        
    <button (click)="addCmdrDmg(i, this.you)">Add</button>
    <span>{{this.cmdrDmg[i][this.you]}}</span>
    <button (click)="subCmdrDmg(i, this.you)">sub</button>
    </div>
    <button (click)="seeMore(i)">See More</button>
    </div>
    <ng-template #orderBlock>
        <!-- <div *ngIf="this.you == 0"><label for=`turnOrder`+{{i}}>turn order</label><select id=`turnOrder`+{{i}} name=`turnOrder`+{{i}}>
        
            <option *ngFor="let player of players; let p = index" class="p"+{{p+1}} value={{p+1}}>{{p+1}}</option>
     
    </select>
</div> -->
</ng-template>
  <!-- <button (click)="seeMore(i)">See More</button> -->

        <div [id]="'cmdr' + i" class="cmdrDmg hidden">
            <div class="poison">
                <button (click)="addPoison(i)">Add</button>
                <span>{{this.players[i].Poison}}</span>
                <button (click)="subtractPoison(i)">sub</button>
                <img src="../../assets/poison.png" alt="">
            </div>
    <div *ngFor="let dmg of cmdrDmg[i]; let j = index">
        <div *ngIf="j !== this.you" class="commander">
         <img src={{this.players[j].commanderImg}} alt="" (click)="changeSource(j)"> <button (click)="addCmdrDmg(i, j)">add</button>
         <span>{{dmg}}</span>
         <button (click)="subCmdrDmg(i, j)">sub </button>
    </div>
    </div>
    <button (click)="hide(i)">hide</button>
</div>
</div>
</div>

<div *ngIf="this.you == 0 && this.cmdrDmg.length == 0" class="pregame">

    <div class="turnOrder">
<div *ngFor="let player of turnOrder; let i = index">
    <button (click)="moveUp(i)">up</button><img src={{this.players[player].commanderImg}} alt=""><button (click)="moveDown(i)">down</button>
</div>
</div>
<button (click)="startGame()">start game</button> 
</div>

<div class="you">
    <img src={{this.players[this.you].commanderImg}} alt="" class="youImg">
    <div class="youInfo">
     <span>{{this.players[this.you].Name}}(you)</span>
    <span>Life: {{this.players[this.you].Life}}</span>
    <div class="buttons">
        <button (click)="addLife(this.you)">Add</button>
        <button (click)="subtractLife(this.you)">sub</button>
        </div>
        </div>
        
        <div class="allCDmg">
        <div *ngFor="let dmg of cmdrDmg[this.you]; let i = index" class="cmdrDmgDelt">
            <img src={{this.players[i].commanderImg}} alt=""> <span>{{dmg}}</span>
        </div>
        </div>
</div>
<div class="footer">
    <div class="triggers">
<label for="trigger">Upkeep</label>
<input type="checkbox" name="trigger" id="trigger" (click)="toggleAlert()">
</div>

<div class="triggers">
    <label for="endTrigger">Endstep</label>
    <input type="checkbox" name="trigger" id="endTrigger" (click)="toggleEndAlert()">
    </div>

<div *ngIf="this.cmdrDmg.length != 0">
<div *ngIf="this.activeTurnOrder[this.activeTurn] == this.you">
<button (click)="changeTurn()">Next Turn</button>
</div>
</div>
<span (click)="toggleOptions()">Options</span>
</div>
<div id="extraOptions" class="hidden">
    <span (click)="hideOptions()">BACK</span>
<Table>
    <tr>
        <td></td>
        <th *ngFor="let player of players; let i = index">
            {{player.Name}}
        </th>
    </tr>
<tr *ngFor="let dmg of dmgDlt; let i = index">
    <th>{{this.players[i].Name}}</th>
    <td *ngFor="let dmgD of dmgDlt[i]; let j = index">
        <span>{{dmgDlt[i][j]}}</span>
    </td>
    <!-- <span>hello</span> -->
</tr>
</Table>
<div>
<span>Life Gained:</span>
<br>
<span>{{this.lifeGained}}</span>
</div>

<div>
<label for="canDie">Platinum Angel</label>
<input type="checkbox" name="canDie" id="canDie" (click)="toggleAlert()">
</div>

<form #changeCMDR="ngForm" (ngSubmit)='changeCommander(changeCMDR)'>

    <label>Commander</label>
    <input type="text" id="commanderSearch"><button (click)="searchCommander()">Search</button>

     <div class="cmdrGrid">    
    <div *ngFor="let item of commanders; let i = index" class="cmdr">
        <label for="{{item.name}}"><img src={{item.image_uris.small}} alt="">{{item.name}}</label>
    <input required ngModel type="radio" id="{{item.name}}"  name="Commander" value="{{i}}">
    </div>
</div>  
    <button>Submit</button>
</form>



<a routerLink="/home">quit</a>
</div>

