<div class="header">
<span>Turn: {{this.turnNumber}}</span>
<span class="room">ROOM: {{this.roomNum}}</span>
</div>
<div *ngIf="this.cmdrDmg.length != 0;" class="allOpps">
    <div *ngFor="let player of players; let i = index">
        <div  *ngIf="i !== this.you" class="player">
            <div class="idBadge">
            <img src={{this.players[i].commanderImg}} alt="" class="playerImage">
    <span>{{this.players[i].Name}}</span>
    </div>
    <!-- <span>{{this.players[i].Life}}</span> -->
    <div class="buttons" *ngIf="this.cmdrDmg.length !== 0; else orderBlock">
        <div>
    <button (click)="addLife(i, 1)">Add</button>
    <span (click)="toggleDammage(i, 'damage', undefined)">♥{{this.players[i].Life}}</span>
    <button (click)="subtractLife(i, 1)">sub</button>
</div>
    <!-- <div *ngIf="this.cmdrDmg.length !== 0"> -->
        <div>
        
    <button (click)="addCmdrDmg(this.mainCommanderI, i, 1)">Add</button>
    <span (click)="toggleDammage(this.mainCommanderI, 'commander', i)">{{this.cmdrDmg[this.mainCommanderI][i]}}</span>
    <button (click)="subCmdrDmg(this.mainCommanderI, i, 1)">sub</button>
    </div>
    <button (click)="seeMore(i)">See More</button>
    </div>
    <ng-template #orderBlock>
      
</ng-template>


        <div [id]="'cmdr' + i" class="cmdrDmg hidden">
            <div class="poison">
                <button (click)="addPoison(i, 1)">Add</button>
                <span>{{this.players[i].Poison}}</span>
                <button (click)="subtractPoison(i, 1)">sub</button>
                <img src="../../assets/poison.png" alt="" (click)="toggleDammage(i, 'poison', undefined)">
            </div>
    <!-- <div *ngFor="let dmg of cmdrDmg[i]; let j = index">
        <div *ngIf="j !== this.you" class="commander">
         <img src={{this.players[j].commanderImg}} alt=""  (click)="toggleDammage(i, 'commander', j)">
          <button (click)="addCmdrDmg(i, j, 1)">add</button>
         <span>{{dmg}}</span>
         <button (click)="subCmdrDmg(i, j, 1)">sub </button>
    </div>
    </div> -->

    <div *ngFor="let dmg of commanderList; let j = index" class="commander">
        <button (click)="addCmdrDmg(j,i, 1)">add</button>
        <span>{{cmdrDmg[j][i]}}</span>
        <button (click)="subCmdrDmg(j,i, 1)">sub </button>
        <img src={{dmg.image}} alt=""  (click)="toggleDammage(j, 'commander', i)">
    </div>


    <button (click)="hide(i)">hide</button>
</div>
</div>
</div>
</div>



<div *ngIf="this.you == 0 && this.cmdrDmg.length == 0" class="pregame">

    <span>Turn Order</span>
    <div class="turnOrder">
<div *ngFor="let player of turnOrder; let i = index">
    <button (click)="moveUp(i)">up</button>
    <div class="idBadge">
    <img src={{this.players[player].commanderImg}} alt="">
    <span>{{this.players[i].Name}}</span>
    </div>
    <button (click)="moveDown(i)">down</button>
</div>
</div>
<button (click)="startGame()">start game</button> 
</div>

<div class="you">
    <img src={{this.players[this.you].commanderImg}} alt="" class="youImg">
    <div class="youInfo">
     <span *ngIf="!this.dead; else deadBlock">{{this.players[this.you].Name}}(you)</span>
    
    <div class="buttons">
        <button (click)="addLife(this.you, 1)">Add</button>
        <span (click)="toggleDammage(this.you, 'damage', undefined)">♥ {{this.players[this.you].Life}}</span>
        <button (click)="subtractLife(this.you, 1)">sub</button>
        </div>
        </div>
        <ng-template #deadBlock>
      ☠
        </ng-template>
        
        <div class="allCDmg">
        <div *ngFor="let dmg of commanderList; let i = index" class="cmdrDmgDelt">
            <div *ngIf="cmdrDmg[i][you] > 0">
                <div>
            <img src={{dmg.image}} alt=""> <span>{{cmdrDmg[i][you]}}</span>
            </div>
            </div>
        </div>
        </div>
</div>
<div class="footer">
    <div class="triggers">
<label for="trigger">Upkeep</label>
<input type="checkbox" name="trigger" id="trigger" (click)="toggleAlert()">
</div>

<div class="triggers">
    <label for="endTrigger">Endstep</label>
    <input type="checkbox" name="trigger" id="endTrigger" (click)="toggleEndAlert()">
    </div>

<div *ngIf="this.cmdrDmg.length != 0">
<div *ngIf="this.activeTurnOrder[this.activeTurn] == this.you">
<button (click)="changeTurn()">Next Turn</button>
</div>
</div>
<span (click)="toggleOptions()">Options</span>
</div>
<div id="extraOptions" class="hidden">
    <span (click)="hideOptions()">BACK</span>
<Table>
    <tr>
        <td></td>
        <th *ngFor="let player of players; let i = index">
            {{player.Name.substring(0, 5)}}
        </th>
    </tr>
<tr *ngFor="let dmg of dmgDlt; let i = index">
    <th>{{this.players[i].Name.substring(0, 6)}}</th>
    <td *ngFor="let dmgD of dmgDlt[i]; let j = index">
        <span>{{dmgDlt[i][j]}}</span>
    </td>
</tr>
</Table>
<div>
<span>Life Gained:</span>
<br>
<span>{{this.lifeGained}}</span>
</div>

<div>
<label for="canDie">Platinum Angel</label>
<input type="checkbox" name="canDie" id="canDie" (click)="toggleAlert()">
</div>

<div class="winSearch">
    ALTERNATE WIN
    <br>
    <label>Search</label>
    <input type="text" id="winsearchSearch"><button (click)="searchWin()">Search</button>

    <div class="cmdrGrid" *ngIf="wincons.length !=0" >  
        <form #subWin="ngForm" (ngSubmit)='WinGame(subWin)'>
        <div *ngFor="let item of wincons; let i = index" class="cmdr">
            <label for="{{item.name}}">
                <div *ngIf='item.image_uris != undefined; else twoface'>
                    <img src={{item.image_uris.small}} alt="">
                </div>
                <ng-template #twoface><img src={{item.card_faces[0].image_uris.small}} alt=""></ng-template>
                {{item.name}}</label>
                <input required ngModel type="radio" id="{{item.name}}"  name="wincon" value="{{i}}">
        </div>
        <button>WIN!</button>
        </form>
</div>
</div>

<div class="LoseSearch">
    <span>ALTERNATE LOSE</span>
    <br>
    <label>Search</label>
    <input type="text" id="LosesearchSearch"><button (click)="searchLose()">Search</button>

    <div class="cmdrGrid" *ngIf="Losecons.length !=0" >  
        <form #subLose="ngForm" (ngSubmit)='LoseGame(subLose)'>
        <div *ngFor="let item of Losecons; let i = index" class="cmdr">
            <label for="{{item.name}}">
                <div *ngIf='item.image_uris != undefined; else twoface'>
                    <img src={{item.image_uris.small}} alt="">
                </div>
                <ng-template #twoface><img src={{item.card_faces[0].image_uris.small}} alt=""></ng-template>
                {{item.name}}</label>
                <input required ngModel type="radio" id="{{item.name}}"  name="Losecon" value="{{i}}">
        </div>
        <button>Lose!</button>
        </form>
</div>
</div>


<div>
<div *ngIf="dead || gameOver">
<button (click)="subGame()">Submit Game And Quit</button>
</div>


<button (click)="quit()">Quit</button>
</div>
</div>

<div id="damageCalc" class="hidden">

    <div *ngIf="damageIndex !== undefined;" class="calcHead">
    <button (click) ="hideDammage()">BACK</button>
    <span>{{this.players[this.damageIndex].Name}} {{this.damageType}} Calculator</span>
</div>
  
<div class="calc">

<div class="math">
    <div class="col-sm-12 form-control text-lg-right" type="text">{{input}}</div>
  </div>

  //Displays the Results
  <div class="math">
    <div class="form-control text-sm-right" type="text">{{result}}</div>
  </div>

 <div class="calcButtons">
    <button class="btn btn-info col-sm-6" type="button" (click)="allClear()">C</button>
    <button class="btn btn-warning col-sm-3" type="button" (click)="clear()">U</button>
    <div></div>
    <button class="btn btn-secondary col-sm-3" type="button" (click)="pressOperator('/')">/</button>
 

 
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('7')">7</button>
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('8')">8</button>
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('9')">9</button>
    <button class="btn btn-lg btn-secondary col-sm-3 p-1" type="button" (click)="pressOperator('*')">X</button>
  
 
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('4')">4</button>
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('5')">5</button>
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('6')">6</button>
    <button class="btn btn-lg btn-secondary col-sm-3 p-1" type="button" (click)="pressOperator('-')">-</button>
  
 
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('1')">1</button>
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('2')">2</button>
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('3')">3</button>
    <button class="btn btn-lg btn-secondary col-sm-3 p-1" type="button" (click)="pressOperator('+')">+</button>
  
 
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('.')">.</button>
    <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('0')">0</button>
    <button class="btn btn-lg btn-success col-sm-6 p-1" type="button" (click)="getAnswer()">=</button>
    </div>

    <button (click)="submitDammage()" class="submitCalc">Enter</button>
</div>
    

    </div>
