<H2>JOIN ROOM</H2>
<form #joinForm="ngForm" (ngSubmit)='joinRoom(joinForm)'>


    <label>Room Number</label>
    <input type="number" required ngModel  name="roomNum">
    <label>name</label>
    <input type="text" required ngModel  name="User">
    
    <label>Commander</label>
    <input type="text" id="commanderSearch"><button (click)="searchCommander()">Search</button>

     <div class="cmdrGrid">    
    <div *ngFor="let item of commanders; let i = index" class="cmdr">
        <label for="{{item.name}}"><img src={{item.image_uris.small}} alt="">{{item.name}}</label>
    <input required ngModel type="radio" id="{{item.name}}"  name="Commander" value="{{i}}">
    </div>
</div>  
    <button>Submit</button>



</form>