<p>join works!</p>
<form #joinForm="ngForm" (ngSubmit)='joinRoom(joinForm)'>


    <label>Room Number</label>
    <input type="number" required ngModel  name="roomNum">
    <label>name</label>
    <input type="text" required ngModel  name="User">
    
    <label>Commander</label>
    <input type="text" id="commanderSearch"><button (click)="searchCommander()">Search</button>

           
    <div *ngFor="let item of commanders; let i = index">
        <label for="{{item.name}}"><img src={{item.image_uris.small}} alt="">{{item.name}}</label>
    <input required ngModel type="radio" id="{{item.name}}"  name="Commander" value="{{i}}">
    </div>

    <button>Submit</button>

    <input type="text" id="testChannel"><button (click)="TestsearchCommander()">test</button>


</form>