.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
h1{
    text-align: center;
}

button{
    color: #92ff1b;
    background-color: black;
    border: 3px solid #92ff1b;
   
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: auto;
    min-width: 76px;
}

button:active{
    transform: translateY(4px);
}